.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 33px;
  margin: 0;
  padding: 0;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  color: #000;
  font-size: 18px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 105px;
}

.header__logo-image {
  display: block;
}
.address {
  font-style: normal;
}
.header__address {
  justify-self: end;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.35;
}
.header__address a {
  text-decoration: none;
}